**Project:** Data Minining Project for  X company

The CRISP-DM Framework


The CRISP-DM methodology provides a structured approach to planning a data mining project. It is a robust and well-proven methodology.
* Business understanding (BU): Determine Business Objectives, Assess Situation, Determine Data Mining Goals, Produce Project Plan

* Data understanding (DU): Collect Initial Data, Describe Data, Explore Data, Verify Data Quality

* Data preparation (DP): Select Data, Clean Data, Construct Data, Integrate Data

* Modeling (M): Select modeling technique, Generate Test Design, Build Model, Assess Model
*  Evaluation (E): Evaluate Results, Review Process, Determine Next Steps
*  Deployment (D): Plan Deployment, Plan Monitoring and Maintenance, Produce Final Report, Review Project


References:

[What is the CRISP-DM methodology?](https://https://www.sv-europe.com/crisp-dm-methodology/)

[Introduction to CRISP DM Framework for Data Science and Machine Learning](https://https://www.linkedin.com/pulse/chapter-1-introduction-crisp-dm-framework-data-science-anshul-roy/)

**Data Set**
### The data is for company X which is trying to control attrition. 
### There are two sets of data: "Existing employees" and "Employees who have left". The following attributes are available for every employee.


*   Satisfaction Level

*   Last evaluation

*   Number of projects

*   Average monthly hours

*   Time spent at the company
*   Whether they have had a work accident


*  Whether they have had a promotion in the last 5 years


*   Departments (column sales)


*   Salary


*  Whether the employee has left

**Your Role**
 

*   As data science team member X company asked you to answer this two questions.
*  What type of employees is leaving? 

*   Determine which employees are prone to leave next.

Business Understanding

---

This step mostly focuses on understanding the Business in all the different aspects. It follows the below different steps.




* Identify the goal and frame the business problem.
* Prepare Analytical Goal i.e. what type of performance metric and loss function to use
* Gather information on resource, constraints, assumptions, risks etc
* Gather information on resource, constraints, assumptions, risks etc
*   Prepare Work Flow Chart

### Write the main objectives of this project in your words?
minimum of 100 characters

In [3]:
main_objectives ='''
The aim of the project is based on the given data set attributes to identify the attributes that have a major impact on attrition and predict which employees are going to leave based on the trends in the data set.
'''

In [4]:
assert len(main_objectives) > 100 
### BEGIN HIDDEN TESTS
assert len(main_objectives) > 80 
### END HIDDEN TESTS

### Outline the different data analysis steps you will follow to carry out the project

In [5]:
dm_outline = '''
1. Business Understanding 
    -While analyzing the data for the X company  we should have clear overview and understanding of the company what it does, 
    what kind of decision they are going to make, for which purpose the data is being analyzed.
    -In our case, the company wants to analyze the data with the aim to control attrition and to understand the reasons 
    why employees leave the company.
2.Acquire the Raw Data
    -Data is collected from the different source.
    -In our case we specifically have two sets of data "Existing employees" and "Employees who have left"
3. Extract the Data
    -This is the step where data is extracted to create a final data set.
    that will allow us to leads the further analyzing process this is a clean data set. 
4. Transform the Data
    Data transformation is the process of converting the data or dataset from on state or structure to another state structure, 
    it is the fundamental state of data integration where the data collected from different sources have been integrated 
    into particular structured data in such manner that it can be used at a destination for analysis process 
    this process is known as ETL(Extract Transform Load).
5. Data Visualization
    After building or creating the datasets, we need to visualize data to develop our Hypothesis or Insights to explore and 
    evaluate the data. 
6. Statical Analysis
    -it is the important aspects of data analysis which summarize the data and it’s understanding in terms of model and graphs
    apart from this it also explains how the data is related to the underlying real world. 
    the statical analysis is also used to identifying the pattern or trends for predictive analytics which helps to make 
    the business decision, it also helps to determine the statical significance of the data set.
    -most of the attributes in our data set are numeric or boolean and finding or grouping this data set will help us in making 
    prediction
7. Data Model Development
    -the next step is building a model that will answer the business problem and 
    iterating over different algorithms to solve the business problem
8. Recommendations/Report/Story
    -This is the final step of the data analytics process where analysis decision is summarized and the result or 
    consequences of the analysis process is represented in terms of story, report, recommendations and PPT, 
    tableau and SAS application plays an important role to summarize the analysis process via a report or story building,
'''

In [ ]:
assert len(dm_outline) > 100 
### BEGIN HIDDEN TESTS
assert len(dm_outline) > 70 
### END HIDDEN TESTS

### What metrics will you use to measure the performance of your data analysis model? 
Write the equations of the metrics here

 Recall= $\frac{TP}{(TP + FN)}$

Why do you choose these metrics? minimum of 100 characters

In [ ]:
why_metrics = '''
I choose recall becase in recall the idea of false positive is far better than false negatives, in other words,
if the occurrence of false negatives is Unaccepted/intolerabel, that we would rather get some extra flase positives(false alarms)
over saving some false negatives, like in our example, we would rather get some employee
labeled as prone to leaving in fact they are staying over leaving employees who are going to 
leave as labeled as staying.
'''

In [ ]:
assert len(why_metrics) > 100 
### BEGIN HIDDEN TESTS
assert len(why_metrics) > 80 
### END HIDDEN TESTS

### How would you know if your data analysis work is a success or not?
minimum of 100 characters

In [6]:
how_success = '''
I would say my data anlysis works or successful if it can determine the major impact for attrition and predicts correctly which 
employee is going to leave and the reason for that.
'''

In [7]:
assert len(how_success) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

## What kind of challenges do you expect in your analysis?
List at least 3 challenges

In [8]:
challenge_text = '''
1.Poor quality data
Nothing is more harmful to data analytics than inaccurate data. 
Without good input, output will be unreliable. A key cause of inaccurate data is manual errors made during data entry.
2.Lack of support
this study might show the defects of the top excutives and this might impact the process
3.Shortage of skills
'''

In [9]:
assert len(challenge_text) > 100 
### BEGIN HIDDEN TESTS
assert len(how_success) > 80 
### END HIDDEN TESTS

<h2>Using the processed twitter data from yesterday's challenge</h2>.


- Form a new data frame (named `cleanTweet`), containing columns $\textbf{clean-text}$ and $\textbf{polarity}$.

- Write a function `text_category` that takes a value `p` and returns, depending on the value of p, a string `'positive'`, `'negative'` or `'neutral'`.

- Apply this function (`text_category`) on the $\textbf{polarity}$ column of `cleanTweet` in 1 above to form a new column called $\textbf{score}$ in `cleanTweet`.

- Visualize The $\textbf{score}$ column using piechart and barchart

<h5>Now we want to build a classification model on the clean tweet following the steps below:</h5>

* Remove rows from `cleanTweet` where $\textbf{polarity}$ $= 0$ (i.e where $\textbf{score}$ = Neutral) and reset the frame index.
* Construct a column $\textbf{scoremap}$ Use the mapping {'positive':1, 'negative':0} on the $\textbf{score}$ column
* Create feature and target variables `(X,y)` from $\textbf{clean-text}$ and $\textbf{scoremap}$ columns respectively.
* Use `train_test_split` function to construct `(X_train, y_train)` and `(X_test, y_test)` from `(X,y)`

* Build an `SGDClassifier` model from the vectorize train text data. Use `CountVectorizer()` with a $\textit{trigram}$ parameter.

* Evaluate your model on the test data.

In [2]:
#importing prerequisite libraries

import pandas as pd
import numpy as np

In [9]:
clean_tweet_file=('clean_tweet.csv')
tweet_df=pd.read_csv(clean_tweet_file)
tweet_df.sample(5)

,Unnamed: 0,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
1115,1115,Fri Jun 18 19:21:03 +0000 2021,"<a href=""https://mobile.twitter.com"" rel=""nofo...",The timely delivery of #COVID19 vaccines is cr...,0.350000,0.744444,en,226,93,krauss64,70,141,NaN,"[{'text': 'COVID19', 'indices': [42, 50]}]","[{'screen_name': 'SKyriakidesEU', 'name': 'Ste...",St Malo
1211,1211,Fri Jun 18 19:29:18 +0000 2021,"<a href=""https://mobile.twitter.com"" rel=""nofo...",It was great to speak with the #Jewish communi...,0.400000,0.375000,en,14,6,StarColombo,2676,4926,NaN,"[{'text': 'Jewish', 'indices': [50, 57]}, {'te...","[{'screen_name': 'EyalDavid_mfa', 'name': 'Eya...",NaN
1598,1598,Fri Jun 18 20:04:20 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",Vaccines donated next year will be ‘too late f...,-0.150000,0.300000,en,7,5,kivumbi_jamil,60,662,NaN,[],"[{'screen_name': 'UN_News_Centre', 'name': 'UN...",NaN
3022,3022,Fri Jun 18 23:01:56 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",New York is fully open and Michigan will be fu...,0.034091,0.488636,en,242,86,CountryGardener,6131,1891,NaN,[],"[{'screen_name': 'Milhouse_Van_Ho', 'name': 'M...","Ontario, Canada"
3115,3115,Fri Jun 18 23:15:24 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...",New York is fully open and Michigan will be fu...,0.034091,0.488636,en,256,92,matt8111,200,607,NaN,[],"[{'screen_name': 'Milhouse_Van_Ho', 'name': 'M...","Georgian Bluffs, Ontario"